*
!*/
!.gitignore
!*.vhd
!*.v
!*.bd
!*.edif

# large and conflictable folder
Undertale.sim/
Undertale.cache/
Undertale.runs/

# IP files
!*.xci
!*.dcp
!*.vds
!*.pb
!*.ui
!*.ooc

# System Generator
!*.mdl
!*.slx
!*.bxml

# Simulation logic analyzer
!*.wcfg
!*.coe

# MIG
!*.prj
!*.mem

# Project files
!*.xpr
!*.xml

# Constraint files
!*.xdc

# TCL - files
!*.tcl

# Journal - files
!*.jou

# Reports
!*.rpt
!*.txt
!*.vdi

# C-files
!*.c
!*.h
!*.elf
!*.bmm
!*.xmp

# additions
!*.data
!*.pdf
!*.list